/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
html {
  min-height: 100vh;
}
* {
  box-sizing: border-box;
}

/*  */

:root {
  /* Theme 1 */
  --darkblue: hsl(222, 26%, 31%);
  --darkerblue: hsl(223, 31%, 20%);
  --darkestblue: hsl(224, 36%, 15%);
  --blue: hsl(224, 28%, 35%);
  --lightblue: hsl(225, 21%, 49%);
  --red: hsl(6, 63%, 50%);
  --darkred: hsl(6, 70%, 34%);
  --lightgreyorange: hsl(30, 25%, 89%);
  --greyorange: hsl(28, 16%, 65%);
  --greyblue: hsl(221, 14%, 31%);

  /* Theme 2 */
  --lightgrey: hsl(0, 0%, 90%);
  --lightergrey: hsl(0, 0%, 93%);
  --greyred: hsl(0, 5%, 81%);
  --darkcyan: hsl(185, 42%, 37%);
  --darkercyan: hsl(185, 58%, 25%);
  --orange: hsl(25, 98%, 40%);
  --darkorange: hsl(25, 99%, 27%);
  --greyyellow: hsl(45, 7%, 89%);
  --darkgreyyellow: hsl(35, 11%, 61%);
  --darkergreyyellow: hsl(60, 10%, 19%);

  /* Theme 3 */
  --darkestviolet: hsl(268, 75%, 9%);
  --darkerviolet: hsl(268, 71%, 12%);
  --darkviolet: hsl(268, 47%, 21%);
  --violet: hsl(281, 89%, 26%);
  --darkmagenta: hsl(290, 70%, 36%);
  --magenta: hsl(285, 91%, 52%);
  --cyan: hsl(176, 100%, 44%);
  --lightcyan: hsl(177, 92%, 70%);
  --yellow: hsl(52, 100%, 62%);
  --blueblack: hsl(198, 20%, 13%);
}
